/* App */
.navbar {
  border-radius: 0;
  margin-bottom: 20px;
}

button {
    border: none;
    outline: 0;
    justify-content: center;
    padding: 8px;
    color: white;
    background-color: #2f4f4f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    width: 130px;
    display: flex;
    float: left;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    background: #5f9ea0;
}

/* Login */
#loginPanel {
  width: 468px;
  margin: 25% auto;
}

p.continue {
  margin-top: 20px;
}
#username {
  width: 100%;
}

#password {
  width: 100%;
}

/* image backgrounds start #000 */
img {
  background: #000;
}

/* profile card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.contain {
    padding: 0 16px;
    padding-bottom: 40px;
}

#profileImage {
  width: 50%;
  border-radius: 50%;
  height: 230px;
}

#stats {
  display: flex;
}

#posts {
  display: flex;
  font-weight: 100;
}

.title {
    color: grey;
    font-size: 18px;
}

textarea {
  height: 100%;
  width: 100%;
}

/* Image upload */
img {
  width: 468px;
}